#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define MOUSE 6
#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角
#define JP_BSLH         INT1              // (backslash)
#define JP_LESS_THAN    LS(COMMA)           // <
#define JP_GREATER_THAN LS(DOT)           // >

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    moA: moA {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp MINUS>, <&kp UNDERSCORE>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moB: moB {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp EQUAL>, <&kp PLUS>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moC: moC {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp INT3>, <&kp JP_PIPE>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moD: moD {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp LBKT>, <&kp LBRC>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moE: moE {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp RBKT>, <&kp RBRC>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moF: moF {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp SEMI>, <&kp KP_PLUS>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moG: moG {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp APOSTROPHE>, <&kp DQT>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moH: moH {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp BACKSLASH>, <&kp TILDE2>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moI: moI {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp JP_BSLH>, <&kp JP_UNDERSCORE>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    behaviors {
        // カスタムHold-Tapの名前を定義
        lt_nav_henkan: lt_nav_henkan {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_NAV_HENKAN";
            #binding-cells = <2>;
            tapping-term-ms = <150>;      // 判定時間（好みに合わせて150〜200で調整）
            quick-tap-ms = <150>;        // 連続タップ時はタップ（無変換）を優先
            flavor = "hold-preferred";    // 迷ったらホールド（レイヤー）を優先する設定
            bindings = <&mo>, <&kp>;
        };
    };
    behaviors {
        // カスタムHold-Tapの名前を定義
        lt_sys_muhenkan: lt_sys_muhenkan {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_SYS_MUHENKAN";
            #binding-cells = <2>;
            tapping-term-ms = <150>;      // 判定時間（好みに合わせて150〜200で調整）
            quick-tap-ms = <150>;        // 連続タップ時はタップ（無変換）を優先
            flavor = "hold-preferred";    // 迷ったらホールド（レイヤー）を優先する設定
            bindings = <&mo>, <&kp>;
        };
    };
    combos {
        compatible = "zmk,combos";

        CONBO_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        COMBO_TAB {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <

            // -----------------------------------------------------------------------------------------
            // | TAB |  Q  |  W  |  E  |  R  |  T  |           |  Y  |  U  |  I  |  O  |  P  |  BS |
            // |SHIFT|  A  |  S  |  D  |  F  |  G  |           |  H  |  J  |  K  |  L  |  -  | EISU | 
            // |CTRL |  Z  |  X  |  C  |  V  |  B  |           |  N  |  M  |  ,  |  .  |  /  | KANA |
            //                        | WIN | nav |PACE|    | ENT | SYS | LS(LG(S))| 
            //                              HENKAN                MUHENKAN

&kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC  
&kp LSHIFT  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &moA  &kp JP_EISU  
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp JP_KANA  
&kp LGUI  &lt_nav_henkan 1 INT_HENKAN  &kp SPACE  &kp RET  &lt_sys_muhenkan 2 INT_MUHENKAN  &kp LS(LG(S))
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <

            // | TAB |  1  |  2  |  3  |  4  |  5  |     　   |NUMLOCK|  7  |  8  |  9  |  + |  BS |
            // |SHIFT|  6  |  7  |  8  |  9  |  0  |    　　   |   ,  |  4  |  5  |  6  |  - |  =  |
            // |CTRL |CAPS| ALT|半/全|HENKAN|MUHENKAN|     　  |   .  |  1  |  2  |  3  |  / |  *  |
            //                　   | unlock | nav | SPACE|   | ENT | sys |  0   |   

&kp TAB  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp KP_NUMLOCK  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS  &kp BSPC  
&kp LEFT_SHIFT  &kp N6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp COMMA  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS  &kp JP_EQUAL  
&kp LEFT_CONTROL  &kp CAPS  &kp RALT  &kp JP_HANZEN  &kp INT_HENKAN  &kp INT_MUHENKAN  &kp KP_DOT  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3 &kp KP_DIVIDE &kp KP_ASTERISK    
&studio_unlock  &trans  &kp SPACE  &kp RET  &trans  &kp KP_NUMBER_0
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <

            // | TAB |  !  |  @  |  #  |  $  |  %  |           |PAGE_UP  |HOME |  ↑  | END | PRSC |  BS  |
            // |SHIFT|  ^  |  &  |  *  |  (  |  )  |           |PAGE_DOWN|  ←  |  ↓  |  →  | SCLK |PAUSE_BREAK|
            // |CTRL |  `  |  '  |  ;  |  [  |  ]  |           |  　-    |  _  |  <  |  >  |   {  |   }  |
            //                        | WIN | nav |SPACE|    | ENT | sys | ALT |    

&kp TAB  &kp EXCLAMATION  &kp JP_AT &kp HASH &kp DOLLAR &kp PERCENT   &kp PAGE_UP  &kp HOME  &kp UP_ARROW  &kp END  &kp PRINTSCREEN  &kp BSPC  
&kp LEFT_SHIFT  &kp JP_CARET  &kp JP_AMPERSAND  &kp JP_ASTERISK  &kp JP_LPAREN  &kp JP_RPAREN  &kp PAGE_DOWN  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &kp SCROLLLOCK  &kp PAUSE_BREAK  
&kp LEFT_CONTROL  &kp JP_BACKQUOTE  &kp JP_QUOTE  &kp SEMI  &kp JP_LBRACKET  &kp JP_RBRACKET  &kp MINUS  &kp JP_UNDERSCORE  &kp JP_LESS_THAN  &kp JP_GREATER_THAN &kp JP_LBRACE  &kp JP_RBRACE    
&kp LGUI  &trans  &kp SPACE  &kp RET  &trans  &kp RALT
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <

            // | TAB |  F1  |  F2  |  F3  |  F4  |  F5  |           | BT0 | BT1 | BT2 | BT3 |  BT4   |  BS |
            // |SHIFT|  F6  |  F7  |  F8  |  F9  |  F0  |           |     |     |BTCLR|BTallCLR|     |     |
            // |CTRL |  F11  | F12 |      |      |      |           |     |     |     |     |        |     |
            //                        | WIN | nav | SPACE |    | ENT | sys | ALT |   

&kp TAB  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &kp BSPC  
&kp LEFT_SHIFT  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans  &trans  &bt BT_CLR  &bt BT_CLR_ALL  &trans  &trans  
&kp LCTRL  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &kp C_VOL_DN &kp C_MUTE  &kp C_VOL_UP  &trans  &trans  &trans  
&kp LGUI  &mo NAV  &kp SPACE  &kp RET  &mo 2  &kp RALT
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
